/*
style.css
Created by Tom Grossman on 3/24/2017
Copyright © 2017 Tom Grossman. All Rights Reserved
*/




#main {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px;
	border: 1px solid #333;
	background-color: #990000;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	overflow: clipped;
	
	border-radius: 5%;
}

#logo {
    height: auto; 
    width: auto; 
    max-width: 85%; 
    max-height: 85%;
	border-radius: 3%;
	
	-moz-box-shadow: 1px 1px 1px 1px #333;
	-webkit-box-shadow: 1px 1px 1px 1px #333;
	box-shadow: 1px 1px 2px 2px #333;
}

.button {
    background-color: #ff9900;
    border: 1px solid #666666;
    color: #222222;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
	width: 75%;
	-moz-box-shadow: 1px 1px 1px 1px #333;
	-webkit-box-shadow: 1px 1px 1px 1px #333;
	box-shadow: 1px 1px 1px 1px #333;
	
	border-radius: 35%;
}

.button:hover {
    background-color: #dd7700;
	border: 1px solid #000;
    color: #000000;
	-moz-box-shadow: 0px 0px 0px 0px #333;
	-webkit-box-shadow: 0px 0px 0px 0px #333;
	box-shadow: 0px 0px 0px 0px #333;
}

.buttonForm {
    background-color: #ff9900; 
    border: 1px solid #666666;
    color: #222222;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
	-moz-box-shadow: 1px 1px 1px 1px #333;
	-webkit-box-shadow: 1px 1px 1px 1px #333;
	box-shadow: 1px 1px 1px 1px #333;
	
	border-radius: 25%;
}

.buttonForm:hover {
    background-color: #dd7700;
	border: 1px solid #000;
    color: #000000;
	-moz-box-shadow: 0px 0px 0px 0px #333;
	-webkit-box-shadow: 0px 0px 0px 0px #333;
	box-shadow: 0px 0px 0px 0px #333;
}

.buttonFormThin {
    background-color: #ff9900;
    border: 1px solid #666666;
    color: #222222;
    padding: 6px;
	width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
	-moz-box-shadow: 1px 1px 1px 1px #333;
	-webkit-box-shadow: 1px 1px 1px 1px #333;
	box-shadow: 1px 1px 1px 1px #333;
	
	border-radius: 45%;
}

.buttonFormThin:hover {
    background-color: #dd7700;
	border: 1px solid #000;
    color: #000000;
	-moz-box-shadow: 0px 0px 0px 0px #333;
	-webkit-box-shadow: 0px 0px 0px 0px #333;
	box-shadow: 0px 0px 0px 0px #333;
	
	border-radius: 45%;
}

.checkStyle {
	width: 30px;
	height: 30px;
	background: #ddd;

	position:relative;
	top: 10px;
	right: 3px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.checkStyle:checked {
	box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}

.checkStyle:hover {
	opacity: 0.8;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.error {
	color: #ff9900;
}

.radioStyle {
	width: 30px;
	height: 30px;
	background: #ddd;

	position:relative;
	top: 10px;
	right: 3px;
}

.radioStyle:hover {
	opacity: 0.8;
}

.select {
	height: 30px;
	font-size: 20px;
}

.shadow {
	-moz-box-shadow: 3px 3px 5px 6px #333;
	-webkit-box-shadow: 3px 3px 5px 6px #333;
	box-shadow: 3px 3px 5px 6px #333;
}

a {
	color: white;
}

a:hover{
	color: #888888;
}

body {
	background-color: #444444;
	color: white;
}

form fieldset {
	border: 0;
}

form fieldset p br {
	clear: left; 
}

h1, h2, h3, h4 {
	-moz-box-shadow: 1px 1px 1px 1px #333;
	-webkit-box-shadow: 1px 1px 1px 1px #333;
	box-shadow: 1px 1px 2px 2px #333;
	padding: 12px;
	position: center;
	background-color: #aa0000;
	border-radius: 10%;

}

input[type="text"], input[type="password"], textarea {
  background-color : #ff9900; 
  resize: none;
  color: black;
  line-height: 25px;
  font-size: 20px;
  width: 90%;
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
  background-color : #dd7700; 
}

input, textarea::-webkit-input-placeholder {
   text-align: center;
   font-size: 14px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ff9900 inset !important;
}

input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px #dd7700 inset !important;
}

input {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	border: 1px solid #CCC;
}

input:hover {
	border: 1px solid #000;
	background-color: #dd7700;
}

option {
	height: 25px;
	font-size: 20px;
}

option:hover {
	background: #dd7700;
}

option:checked {
	background: linear-gradient(#aa5500, #aa5500);
}

select {
  background-color : #ff9900; 
  resize: none;
  color: #111111;
  width: 90%;
  font-size: 20px;
}


table {
	border-collapse: collapse;
}

td {
    border-top: thin solid; 
    border-bottom: thin solid;
}

td:first-child {
    border-left: thin solid;
}

td:last-child {
    border-right: thin solid;
}

th {
	height:20px;
	width: 120px;
}

